<div style="width:100%;height:100% !important;position: relative; overflow: auto;">
  <!-- <ng-map style="width: 100%" class="center-maps" zoom="17" on-click="updateMarkerPoints()">  -->
  <ng-map style="width: 100%" class="center-maps" zoom="17">
    <marker ng-repeat="position in positions" position="((position.lat)), ((position.lng))" animation="Animation.BOUNCE"></marker>
  </ng-map>
  <button type="button" style="float: right;margin: 15px 9px;"
    ng-click="cerrar()" class="btn btn-danger btn-sm btn-google-geolocation">Cerrar</button>
</div>